{
  "log": {
    "_recordingName": "fetchApplicationsShouldCollectData",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "7e8648819f4fd2f401f38d22cb901b99",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.veracode.com/appsec/v1/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 104447,
            "text": "{\n  \"_embedded\" : {\n    \"applications\" : [ {\n      \"id\" : 1355479,\n      \"oid\" : 90207,\n      \"last_completed_scan_date\" : null,\n      \"guid\" : \"8f7c43e5-7d51-439e-b8a5-69f23004517c\",\n      \"created\" : \"2022-02-17T15:45:25.000Z\",\n      \"modified\" : \"2022-02-17T15:46:03.000Z\",\n      \"app_profile_url\" : \"HomeAppProfile:90207:1355479\",\n      \"scans\" : [ ],\n      \"profile\" : {\n        \"name\" : \"JupiterOne Test App\",\n        \"tags\" : \"Education, Other Development Tools, Outsourced Team\",\n        \"business_unit\" : {\n          \"id\" : 99772,\n          \"name\" : \"Not Specified\",\n          \"guid\" : \"953e32f6-d874-4c83-a173-c0b193b57d6a\"\n        },\n        \"business_owners\" : [ {\n          \"name\" : \"Anne\"\n        } ],\n        \"archer_app_name\" : null,\n        \"policies\" : [ {\n          \"guid\" : \"9ab6dc63-29cf-4457-a1d1-e2125277df0e\",\n          \"name\" : \"Veracode Recommended High\",\n          \"is_default\" : true,\n          \"policy_compliance_status\" : \"NOT_ASSESSED\"\n        } ],\n        \"teams\" : [ {\n          \"team_id\" : 233017,\n          \"team_name\" : \"Default Team\",\n          \"guid\" : \"23c8ed39-00a4-4298-8b18-65e8667d31f6\"\n        } ],\n        \"custom_fields\" : [ {\n          \"name\" : \"Custom 1\",\n          \"value\" : \"Testing Custom Fields 1\"\n        }, {\n          \"name\" : \"Custom 2\",\n          \"value\" : \"Testing Custom Fields 2\"\n        }, {\n          \"name\" : \"Custom 3\",\n          \"value\" : \"Testing Custom Fields 3\"\n        } ],\n        \"description\" : \"Test application w/ known vulns to test out the j1-Veracode integration\",\n        \"settings\" : {\n          \"nextday_consultation_allowed\" : false,\n          \"static_scan_xpa_or_dpa\" : true,\n          \"dynamic_scan_approval_not_required\" : false,\n          \"sca_enabled\" : false\n        },\n        \"business_criticality\" : \"LOW\"\n      },\n      \"results_url\" : null,\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"https://api.veracode.com/appsec/v1/applications/8f7c43e5-7d51-439e-b8a5-69f23004517c\"\n        },\n        \"sandboxes\" : {\n          \"href\" : \"https://api.veracode.com/appsec/v1/applications/8f7c43e5-7d51-439e-b8a5-69f23004517c/sandboxes{?page,size}\",\n          \"templated\" : true\n        },\n        \"policy\" : {\n          \"href\" : \"https://api.veracode.com/appsec/v1/policies/9ab6dc63-29cf-4457-a1d1-e2125277df0e\"\n        }\n      }\n    }, {\n      \"id\" : 1355518,\n      \"oid\" : 90207,\n      \"last_completed_scan_date\" : \"2022-02-17T17:29:12.000Z\",\n      \"guid\" : \"6669c3ff-9605-4534-afa8-0437e8c86662\",\n      \"created\" : \"2022-02-17T16:10:40.000Z\",\n      \"modified\" : \"2022-02-17T17:29:35.000Z\",\n      \"app_profile_url\" : \"HomeAppProfile:90207:1355518\",\n      \"scans\" : [ {\n        \"scan_type\" : \"STATIC\",\n        \"status\" : \"PUBLISHED\",\n        \"modified_date\" : \"2022-02-17T17:29:12.000Z\",\n        \"scan_url\" : \"StaticOverview:90207:1355518:16834576:16806984:16822634\",\n        \"internal_status\" : \"resultsready\",\n        \"links\" : [ ]\n      } ],\n      \"profile\" : {\n        \"name\" : \"VeraDemo-2022-02-17.01\",\n        \"tags\" : \"Other\",\n        \"business_unit\" : {\n          \"id\" : 99772,\n          \"name\" : \"Not Specified\",\n          \"guid\" : \"953e32f6-d874-4c83-a173-c0b193b57d6a\"\n        },\n        \"business_owners\" : [ ],\n        \"archer_app_name\" : null,\n        \"policies\" : [ {\n          \"guid\" : \"c8ffa32c-58fa-48a3-9d53-e4cbf7d29283\",\n          \"name\" : \"Veracode Recommend[...]
