{
  "log": {
    "_recordingName": "fetchFindingsShouldCreateRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "420505c577e907cea41ad3c7a8a99767",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "name",
              "value": "US1492-1"
            }
          ],
          "url": "https://api.veracode.com/appsec/v1/applications?name=US1492-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2561,
            "text": "{\n  \"_embedded\" : {\n    \"applications\" : [ {\n      \"id\" : 1355555,\n      \"oid\" : 90207,\n      \"last_completed_scan_date\" : \"2022-03-01T13:46:30.000Z\",\n      \"guid\" : \"b6d33790-4f9a-40ac-9862-299a3bbeb3fb\",\n      \"created\" : \"2022-02-17T16:22:38.000Z\",\n      \"modified\" : \"2022-03-01T13:46:35.000Z\",\n      \"app_profile_url\" : \"HomeAppProfile:90207:1355555\",\n      \"scans\" : [ {\n        \"scan_type\" : \"STATIC\",\n        \"status\" : \"PUBLISHED\",\n        \"modified_date\" : \"2022-03-01T13:46:30.000Z\",\n        \"scan_url\" : \"StaticOverview:90207:1355555:17037990:17010336:17025986\",\n        \"internal_status\" : \"resultsready\",\n        \"links\" : [ ]\n      } ],\n      \"profile\" : {\n        \"name\" : \"US1492-1\",\n        \"tags\" : \"Other\",\n        \"business_unit\" : {\n          \"id\" : 99772,\n          \"name\" : \"Not Specified\",\n          \"guid\" : \"953e32f6-d874-4c83-a173-c0b193b57d6a\"\n        },\n        \"business_owners\" : [ ],\n        \"archer_app_name\" : null,\n        \"policies\" : [ {\n          \"guid\" : \"c8ffa32c-58fa-48a3-9d53-e4cbf7d29283\",\n          \"name\" : \"Veracode Recommended Very High\",\n          \"is_default\" : true,\n          \"policy_compliance_status\" : \"DID_NOT_PASS\"\n        } ],\n        \"teams\" : [ ],\n        \"custom_fields\" : null,\n        \"description\" : null,\n        \"settings\" : {\n          \"nextday_consultation_allowed\" : false,\n          \"static_scan_xpa_or_dpa\" : true,\n          \"dynamic_scan_approval_not_required\" : false,\n          \"sca_enabled\" : false\n        },\n        \"business_criticality\" : \"VERY_HIGH\"\n      },\n      \"results_url\" : \"ViewReportsResultSummary:90207:1355555:17037990\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"https://api.veracode.com/appsec/v1/applications/b6d33790-4f9a-40ac-9862-299a3bbeb3fb\"\n        },\n        \"sandboxes\" : {\n          \"href\" : \"https://api.veracode.com/appsec/v1/applications/b6d33790-4f9a-40ac-9862-299a3bbeb3fb/sandboxes{?page,size}\",\n          \"templated\" : true\n        },\n        \"policy\" : {\n          \"href\" : \"https://api.veracode.com/appsec/v1/policies/c8ffa32c-58fa-48a3-9d53-e4cbf7d29283\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://api.veracode.com/appsec/v1/applications/?name=US1492-1{&page,size,org,policy_id,policy_guid,legacy_id,business_unit,tag,policy,policy_compliance,scan_status,scan_type,modified_after,team,custom_field_names,custom_field_values,sort_by_custom_field_name}\",\n      \"templated\" : true\n    }\n  },\n  \"page\" : {\n    \"size\" : 50,\n    \"total_elements\" : 1,\n    \"total_pages\" : 1,\n    \"number\" : 0\n  }\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-conversation-id",
              "value": "35ef0e71-72de-4b5a-bf1f-a5de91893b59"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 361,
      },
      {
        "_id": "0b53d765c30bd7ed25f5c5f0ae5c936c",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "violates_policy",
              "value": "true"
            },
            {
              "name": "size",
              "value": "500"
            },
            {
              "name": "scan_type",
              "value": "STATIC"
            }
          ],
          "url": "https://api.veracode.com/appsec/v2/applications/b6d33790-4f9a-40ac-9862-299a3bbeb3fb/findings?violates_policy=true&size=500&scan_type=STATIC"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 33551,
            "text": "{\"_embedded\":{\"findings\":[{\"issue_id\":1,\"scan_type\":\"STATIC\",\"description\":\"<span>This call to javax.servlet.http.HttpServletResponse.sendRedirect() contains an HTTP response splitting flaw.  Writing untrusted input into an HTTP header allows an attacker to manipulate the HTTP response rendered by the browser, to inject additional headers or an entire response body into the response stream. Injecting headers can be used to trick various security mechanisms in browsers into allowing XSS style attacks. Injecting entire response bodies can not only cause XSS attacks to succeed b[...]
