{
  "log": {
    "_recordingName": "fetchAssessmentsShouldCollectData",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "420505c577e907cea41ad3c7a8a99767",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "name",
              "value": "US1492-1"
            }
          ],
          "url": "https://api.veracode.com/appsec/v1/applications?name=US1492-1"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2773,
            "text": "{\n  \"_embedded\" : {\n    \"applications\" : [ {\n      \"id\" : 1355555,\n      \"oid\" : 90207,\n      \"last_completed_scan_date\" : \"2022-03-01T13:46:30.000Z\",\n      \"guid\" : \"b6d33790-4f9a-40ac-9862-299a3bbeb3fb\",\n      \"created\" : \"2022-02-17T16:22:38.000Z\",\n      \"modified\" : \"2022-03-01T13:46:35.000Z\",\n      \"app_profile_url\" : \"HomeAppProfile:90207:1355555\",\n      \"scans\" : [ {\n        \"scan_type\" : \"STATIC\",\n        \"status\" : \"PUBLISHED\",\n        \"modified_date\" : \"2022-03-01T13:46:30.000Z\",\n        \"scan_url\" : \"StaticOverview:90207:1355555:17037990:17010336:17025986\",\n        \"internal_status\" : \"resultsready\",\n        \"links\" : [ ],\n        \"fallback_type\" : null,\n        \"full_type\" : null\n      } ],\n      \"last_policy_compliance_check_date\" : \"2022-03-01T13:46:30.000Z\",\n      \"profile\" : {\n        \"name\" : \"US1492-1\",\n        \"tags\" : \"Other\",\n        \"business_unit\" : {\n          \"id\" : 99772,\n          \"name\" : \"Not Specified\",\n          \"guid\" : \"953e32f6-d874-4c83-a173-c0b193b57d6a\"\n        },\n        \"business_owners\" : [ ],\n        \"archer_app_name\" : null,\n        \"policies\" : [ {\n          \"guid\" : \"c8ffa32c-58fa-48a3-9d53-e4cbf7d29283\",\n          \"name\" : \"Veracode Recommended Very High\",\n          \"is_default\" : true,\n          \"policy_compliance_status\" : \"DID_NOT_PASS\"\n        } ],\n        \"teams\" : [ ],\n        \"custom_fields\" : null,\n        \"description\" : null,\n        \"settings\" : {\n          \"nextday_consultation_allowed\" : false,\n          \"static_scan_xpa_or_dpa\" : true,\n          \"dynamic_scan_approval_not_required\" : false,\n          \"sca_enabled\" : false\n        },\n        \"business_criticality\" : \"VERY_HIGH\"\n      },\n      \"results_url\" : \"ViewReportsResultSummary:90207:1355555:17037990\",\n      \"_links\" : {\n        \"self\" : {\n          \"href\" : \"https://api.veracode.com/appsec/v1/applications/b6d33790-4f9a-40ac-9862-299a3bbeb3fb\"\n        },\n        \"sandboxes\" : {\n          \"href\" : \"https://api.veracode.com/appsec/v1/applications/b6d33790-4f9a-40ac-9862-299a3bbeb3fb/sandboxes{?page,size}\",\n          \"templated\" : true\n        },\n        \"policy\" : {\n          \"href\" : \"https://api.veracode.com/appsec/v1/policies/c8ffa32c-58fa-48a3-9d53-e4cbf7d29283\"\n        }\n      }\n    } ]\n  },\n  \"_links\" : {\n    \"self\" : {\n      \"href\" : \"https://api.veracode.com/appsec/v1/applications/?name=US1492-1{&page,size,org,policy_id,policy_guid,legacy_id,business_unit,tag,policy,policy_compliance,scan_status,scan_type,modified_after,policy_compliance_checked_after,team,custom_field_names,custom_field_values,sort_by_custom_field_name}\",\n      \"templated\" : true\n    }\n  },\n  \"fallback_type\" : null,\n  \"full_type\" : null,\n  \"page\" : {\n    \"size\" : 50,\n    \"total_elements\" : 1,\n    \"total_pages\" : 1,\n    \"number\" : 0\n  }\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-conversation-id",
              "value": "19b9d44e-bfbd-40f2-96c8-e124a83cd12c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 289,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
