{
  "log": {
    "_recordingName": "api-id-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "7e8648819f4fd2f401f38d22cb901b99",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.veracode.com/appsec/v1/applications"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=UTF-8",
            "size": 95,
            "text": "{\"message\":\"1fe7eb75-07c6-477f-b13f-a7ead5d6ee4e\",\"http_code\":401,\"http_status\":\"Unauthorized\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "x-conversation-id",
              "value": "751b22dc-3e2c-4539-aaf0-2da6439be541, 1fe7eb75-07c6-477f-b13f-a7ead5d6ee4e"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 98,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
